<!--https://stackblitz.com/angular/eaajjobynjkl?file=src%2Fapp%2Ftable-expandable-rows-example.html pour le tab expand-->

<main class="container">

  <!--Creer les boutons de pagination-->
  <div class="pagination">
    <button title="First Page" mat-icon-button [disabled]="!hasPrevPage" (click)="onFirstPage()">
      <mat-icon>first_page</mat-icon>
    </button>
    <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPaginateChange($event)">
    </mat-paginator>

    <button title="Last Page" mat-icon-button [disabled]="!hasNextPage" (click)="onLastPage()">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>

  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

  <table mat-table [dataSource]="assignments" multiTemplateDataRows class="mat-elevation-z8">
    
    <ng-container *ngFor="let column of columnsToDisplay" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column | uppercase }}</th>
      <td mat-cell *matCellDef="let assignment">
        <ng-container *ngIf="column === 'dateDeRendu'">
          {{ assignment[column] | date: 'dd/MM/yyyy' }}
        </ng-container>

        <ng-container *ngIf="column === 'matiere'; else notSpecialColumn">
          {{ assignment.matiereDetails?.matiere }}
        </ng-container>

        <ng-template #notSpecialColumn>
          <ng-container *ngIf="column !== 'dateDeRendu'">{{ assignment[column] }}</ng-container>
        </ng-template>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let assignment" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="expandedAssignment === assignment ? 'expanded' : 'collapsed'">
       
          <div class="example-element-description">
            Matière : {{assignment.matiereDetails?.matiere}}
            
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    
    <tr mat-row *matRowDef="let assignment; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedAssignment === assignment"
        (click)="expandedAssignment = expandedAssignment === assignment ? null : assignment">
    </tr>

    <tr mat-row *matRowDef="let assignment; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</main>