.container {
  padding: 1em;
}

.slide-toggle {
  margin: 0 1em;
}

select {
  background-color: white;
  padding: 0.5em;
  margin: 1em;
}

.rendu {
  color: green;
}

.nonRendu {
  color: red;
}

.mat-divider {
  border-top-color: red;
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

/* Style général pour le conteneur de pagination */
.pagination {
  display: flex;
  justify-content: center;
  /* Ajustez pour aligner à droite */
  align-items: center;
  margin: 20px 0;
  /* Ajustez selon l'espacement désiré */
}

/* Style pour les boutons de première/dernière page pour qu'ils ressemblent à ceux de mat-paginator */
.mat-icon-button {
  border: none;
  background-color: transparent;
}

/* Style pour les icônes des boutons de première/dernière page */
.mat-icon-button .mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

/* Style pour les boutons désactivés */
.mat-icon-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
}

/* Style pour le mat-paginator */
.mat-paginator {
  background-color: transparent;
  /* Enlève le fond par défaut si nécessaire */
}

/* Style pour la partie range actions du mat-paginator */
.mat-paginator-range-actions {
  align-items: center;
  /* Centre verticalement le texte et les contrôles */
}

/* Style pour la partie range label du mat-paginator */
.mat-paginator-range-label {
  margin: 0 8px;
  /* Ajustez l'espacement autour du texte de la plage */
}

.assignment-details {
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}


table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}