<main class="container">

  <!--Creer les boutons de pagination-->
  <div class="pagination">
    <button title="First Page" mat-icon-button [disabled]="!hasPrevPage" (click)="onFirstPage()">
      <mat-icon>first_page</mat-icon>
    </button>
    <mat-paginator [length]="totalDocs" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPaginateChange($event)">
    </mat-paginator>

    <button title="Last Page" mat-icon-button [disabled]="!hasNextPage" (click)="onLastPage()">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>

  <div class="ajouterBtn">
    <a routerLink="/add">
      <button class="ajouterBtn" mat-flat-button color="accent">
        Ajouter Assignment
      </button>
    </a>
  </div>

<table mat-table [dataSource]="assignments" class="mat-elevation-z8">

    <ng-container matColumnDef="matiere">
      <th mat-header-cell *matHeaderCellDef> Matière </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.matiereDetails?.matiere}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom du devoir </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="promo">
      <th mat-header-cell *matHeaderCellDef> Promotion </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.promo}} </td>
    </ng-container>

    <ng-container matColumnDef="groupe">
      <th mat-header-cell *matHeaderCellDef> Groupe </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.groupe}} </td>
    </ng-container>

    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let assignment"> {{assignment.rendu}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let assignment; columns: columnsToDisplay;" (click)="assignmentClique(assignment)"></tr>


  </table>

</main>