<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

  <title>Student Cards</title>
</head>

<body>
  <div class="filter-container">
    <input matInput class="filter-input" (keyup)="onSearchNomChange($event)" placeholder="Rechercher par nom">
    <input matInput class="filter-input" (keyup)="onSearchPrenomChange($event)" placeholder="Rechercher par prénom">

    <select matNativeControl class="filter-select" (change)="onPromoChange($event)">
      <option value="">Toutes les promos</option>
      <option value="L3">L3</option>
      <option value="M1">M1</option>
      <option value="M2">M2</option>
    </select>

    <select matNativeControl class="filter-select" (change)="onGroupeChange($event)">
      <option value="">Tous les groupes</option>
      <option value="TD 1">TD 1</option>
      <option value="TD 2">TD 2</option>
      <option value="TD 3">TD 3</option>
    </select>
  </div>


  <div class="cards-container">
    <div *ngFor="let student of filteredStudents" class="student-card-wrapper">
      <mat-card class="example-card">
        <div class="card-layout">
          <img mat-card-image class="card-image" [src]="student.image" alt="Photo de l'étudiant">
          <mat-card-content class="card-content">
            <mat-card-title class="card-title">{{ student.prenom }} {{ student.nom }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle">{{ student.promo }} - {{ student.groupe }}</mat-card-subtitle>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>

</body>

</html>