<mat-card>
    <h2>Ajout de Matière</h2>
    <form [formGroup]="subjectForm" (ngSubmit)="onAddSubject()">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Nom de la matière</mat-label>
          <input matInput formControlName="matiere" placeholder="Nom de la matière" required>
          <mat-error *ngIf="getMatiere?.invalid && (getMatiere?.dirty || getMatiere?.touched)">
            Le nom de la matière est requis
          </mat-error>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Professeur</mat-label>
          <mat-select formControlName="professeur">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher._id">{{ teacher.nom }}</mat-option>
          </mat-select>
          <mat-error *ngIf="getProfesseur?.invalid && (getProfesseur?.dirty || getProfesseur?.touched)">
            Un professeur est requis
          </mat-error>
        </mat-form-field>
      </p>
      
  
      <p>
        <input type="file" name="image" (change)="onFileSelected($event)" />
      </p>
  
      <div class="button">
        <button mat-button type="button" (click)="subjectForm.reset()">Réinitialiser</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="subjectForm.invalid">Ajouter Matière</button>
      </div>
    </form>
  </mat-card>
  