<main class="container">
  <!-- Pagination -->
  <div class="pagination">
    <!-- ... Boutons de pagination ... -->
  </div>

  <div class="ajouterBtn">
    <a routerLink="/addSubject">
      <button class="ajouterBtn" mat-flat-button color="accent">
        Ajouter Matière
      </button>
    </a>
  </div>
  
  <mat-list *ngFor="let subject of subjects" class="matList">
    <nav>
      <a routerLink="/subject/{{subject._id}}">
        <h3 mat-subheader>{{ subject.matiere }}</h3>
        <mat-list-item class="matItem">
          
          <img [src]="subject.image_matiere" alt="Image de la matière">
          <p>Professeur : {{ subject.professeurDetails?.nom }} {{ subject.professeurDetails?.prenom }}</p>
          <img [src]="subject.professeurDetails?.image" alt="Image du professeur">
        </mat-list-item>
        <mat-divider></mat-divider>
      </a>
    </nav>
  </mat-list>
  
</main>
