<mat-card>
    <h2>Inscription</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <p>
            <mat-radio-group formControlName="role" aria-label="Select an option">
                <mat-radio-button value="user">Utilisateur</mat-radio-button>
                <mat-radio-button value="admin">Administrateur</mat-radio-button>
            </mat-radio-group>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nom de famille</mat-label>
                <input matInput formControlName="lastname" placeholder="Nom de famille">
                <mat-error *ngIf="getLastName?.invalid && (getLastName?.dirty || getLastName?.touched)">
                    Le nom de famille est requis
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname" placeholder="Prénom">
                <mat-error *ngIf="getFirstName?.invalid && (getFirstName?.dirty || getFirstName?.touched)">
                    Le prénom est requis
                </mat-error>
            </mat-form-field>
        </p>
        <p *ngIf="registerForm.value.role === 'user'">

            <mat-form-field>
                <mat-label>Promo</mat-label>
                <mat-select formControlName="promo" placeholder="Choisir une promo">
                    <mat-option value="L3">L3</mat-option>
                    <mat-option value="M1">M1</mat-option>
                    <mat-option value="M2">M2</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Groupe de TD</mat-label>
                <mat-select formControlName="groupe" placeholder="Choisir un groupe">
                    <mat-option value="TD 1">TD 1</mat-option>
                    <mat-option value="TD 2">TD 2</mat-option>
                    <mat-option value="TD 3">TD 3</mat-option>
                </mat-select>
            </mat-form-field>

           

        </p>
        <p>
            <input type="file" name="image" (change)="onFileSelected($event)" />
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="password" placeholder="Votre mot de passe" type="password" required>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Entrez votre mot de passe</mat-hint>
                <mat-error *ngIf="getPassword?.errors?.['required'] && (getPassword?.dirty || getPassword?.touched)">
                    Le mot de passe est requis
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Confirmer le mot de passe</mat-label>
                <input matInput formControlName="confirmPassword" placeholder="Confirmer le mot de passe"
                    type="password" required>
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Confirmez votre mot de passe</mat-hint>
                <mat-error
                    *ngIf="getConfirmPassword?.errors?.['required'] && (getConfirmPassword?.dirty || getConfirmPassword?.touched)">
                    La confirmation du mot de passe est requise
                </mat-error>
                <mat-error
                    *ngIf="getConfirmPassword?.errors?.['notSame'] && (getConfirmPassword?.dirty || getConfirmPassword?.touched)">
                    Les mots de passe ne sont pas identiques
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            Déjà inscrit ? <a routerLink="/loggin">Se connecter</a>
        </p>
        <div *ngIf="isRegisterFailed" class="error-message">
            <span style="color: red;">{{ getErrorRegister }}</span>
        </div>
        <div class="button">
            <button mat-button type="button" (click)="registerForm.reset()">Réinitialiser</button>
            <button mat-raised-button color="primary" type="submit"
                [disabled]="registerForm.invalid">S'inscrire</button>
        </div>
    </form>